@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    font-size: 1rem;
}

html {
    font-size: calc(60% + 0.8vmin);
    background: #D9DBD6;
}

.container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 1.5rem;
    margin-top: 5rem;
}

.container1 h1 {
    font-family: '.New York';
    font-style: normal;
    font-weight: 674;
    font-size: 3rem;
    line-height: 3.5rem;
    text-align: center;
    letter-spacing: 0.5em;
    color: #000000;
    
}

.subbox1 {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
}

.box1{
    display: flex;
    height: 13rem;
    width: fit-content;
    flex-direction: row;
    align-items: center;
    gap: 9rem;
    background-color: #fffbf0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 2.5rem;
    
}

.box1 img{
   height: 11rem;
   width: 17rem;
   margin-left: 0.15rem;
   border-radius: 2.0rem;

}
.box1 .img{
    height: 11rem;
    width: 17rem;
    margin-left: 1rem;
    border-radius: 2.0rem;
}
.box2 {
    display: flex;
    height: 10rem;
    width: 30rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.box2 h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    
}
.box2 h2{
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.1em;
}

.box3{
    display: flex;
    padding-right: 2rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.box3 h2{
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.001em;
}

.remove-btn {
    background-color: #000000;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: all 0.3s;
}

.remove-btn:hover {
    background-color: #b1b1b1;
    color: #000000;
}

form {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: fit-content;
}

form .quantity {
    width: 3rem;
    background-color: transparent;
    border: none;
}

form .submit {
    width: fit-content;
    height: fit-content;
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    transition: all 0.3s;
}

form .submit:hover {
    background-color: #b1b1b1;
    color: #000000;
}

.container2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 0.5rem;
    justify-content: space-between;
    width: 56rem;
}

.box4{
    display: flex;
    height: 5rem;
    width: 100%;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    justify-content: space-between;
}

.container3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 0.5rem;
}


.box5{
    display: flex;
    height: 10rem;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    background:transparent;   
    margin: auto;
}


.button {
	--border-size: 2px;
	display: block;
	position: relative;
	padding: 1.5em 1em;
	appearance: none;
	border: none;
	background: transparent;
	color: #000000;
	text-transform: uppercase;
	letter-spacing: 0.25em;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	border-radius: 1.5rem;
	box-shadow: inset 0 0 0 var(--border-size) currentcolor;
    transition: all 0.3s;
}

.button:hover {
    border: transparent;
    background-color: #000000;
    color: #fff;
}

.box3 button{
    background: transparent;
    cursor: pointer;
    border: none;
}

.box4 h6 {
    font-size: 1.25rem;
    font-weight: 400;
}

.box4 a {
    width: fit-content;
    text-align: center;
}

.box5 button {
    width: 20rem;
}
