@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  text-decoration: none;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  background-color: #D9DBD6;
}
*::-webkit-scrollbar {
  display: none;
}


.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 18px;
}

.sidebar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    gap: 100px;

  
}

.big-product-items {
  float: left;
  position: absolute;
  display: flex;
  width: 200px;
  height: 500px;
  margin-left: 8%;
  object-fit: cover;
  top: 300px;
  border-radius: 12px 12px 12px 12px;
}
.big-product-img{
  width: 200px;
  height: 500px;
  object-fit: cover;
  border-radius: 12px 12px 12px 12px;
}

.small-product{
  display: flex;
  position: absolute;
  flex-direction: column;
  right: 500px;
  border-radius: 12px 12px 12px 12px;
  padding: auto;
  width: 130px;
  height: 100px;
  object-fit: cover;
  top: 200px;
  left: 840px;
  margin: 100px;
  row-gap: 20px;
  
}

.small-product-img{
  width: 380px;
  height: 240px;
  object-fit: cover;
  border-radius: 20px;
  border-radius: 12px 12px 12px 12px;

}

.menu {
  position: relative;
  display: flex;
  align-items: center;
  right: 600px;
  width: 90%;
  margin-top: 700px;
  margin-left: 700px;
  padding: 10px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  
}


.menu-img{
  width: 100;
  height: 17vw;
  object-fit: cover;
  border-radius: 10px;
  border-radius: 12px 12px 12px 12px;
}

.menu-img :hover {
  transform: scale(1.03);
}







