@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  text-decoration: none;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  font-size: 1rem;
}

html {
  font-size: calc(60% + 0.8vmin);
  background: #D9DBD6;
}

.container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 1.5rem;
  margin-top: 5rem;
}

.container1 h1 {
  font-family: '.New York';
  font-style: normal;
  font-weight: 674;
  font-size: 3rem;
  line-height: 3.5rem;
  text-align: center;
  letter-spacing: 0.5em;
  color: #000000;
}

.big-product-items {
  display: flex;
  height: 32rem;
  object-fit: cover;
}
.big-product-img{
  width: 50rem;
  object-fit: cover;
  border-radius: 0.75rem;
}

.small-product{
  display: flex;
  flex-direction: column;
  border-radius: 0.75rem;
  padding: auto;
  object-fit: cover;
  gap: 2rem;
  height: fit-content;
}

.small-product-items {
  height: 15rem;
}

.small-product-img{
  height: 15rem;
  object-fit: cover;
  border-radius: 0.75rem;
}

.contain {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  gap: 2rem;
  margin-top: 1.5rem;
}

.menu {
  position: relative;
  align-items: center;
  justify-items: center;
  padding: 3rem;
  width: fit-content;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2.5rem;
  margin: 0 auto;
}


.menu-img{
  width: 100;
  height: 17vw;
  object-fit: cover;
  border-radius: 0.75rem;
  box-shadow: 3px 2px 2px #AA7F5A;
}








