@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  text-decoration: none;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  background-color: #D9DBD6;
}
*::-webkit-scrollbar {
  display: none;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 40px;
    
    width: 325px;
    height: 21px;
    
}


.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 18px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    gap: 40px;
  
}

.big-product-items {
  float: left;
  position: absolute;
  display: flex;
  width: 50%;
  height: 511px;
  left: 0px;
  top: 300px;
  border-radius: 12px 12px 12px 12px;
}

.small-product{
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.small-product-items2{
  position: absolute;
  display: flex;
  width: 20%;
  
  left: 800px;
  top: 300x;
  border-radius: 12px 12px 12px 12px;

}
.small-product-items3{
  position: absolute;
  display: flex;
  width: 20%;
  
  left: 800px;
  top: 700px;
  border-radius: 12px 12px 12px 12px;
}

.menu {
  position: absolute;
  display: flex;
  align-items: center;
  right: 175px;
  width: 300;
  padding: 10px;
  height: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  
}

.menu-img{
  width: 100%;
  height: 17vw;
  object-fit: cover;
  border-radius: 10px;
  border-radius: 12px 12px 12px 12px;
}

.menu-img :hover {
  transform: scale(1.03);
}







