@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: '.New York';
    text-decoration: none;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.head {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 30px;

    position: absolute;
    width: 100vw;
    height: 116px;
    top: 97px;

}

.head h1 {
    font-weight: 674;
    font-size: 3.75vw;
    line-height: 57px;
    text-align: center;
    letter-spacing: 0.5em;
    color: #000000;
}

.head p {
    font-weight: 674;
    font-size: 1.875vw;
    line-height: 29px;
    /* identical to box height */
    width: 67.5vw;
    text-align: center;
    letter-spacing: 0.1em;
    color: #000000;
}

img {
    height: 100%;
    width: 100%;
}

.log {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 20px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(2px);
    border-radius: 8px;
}

.log .mt-1 {
    font-weight: 674;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
}

